2016/8/9 15:39:04--root/IsMobileSearchRedirect=False
2016/8/9 15:39:04--root/IsXiaomishuSite=False
2016/8/9 15:39:04--node=root/MigrationConfig/Rules
2016/8/9 15:39:04-- LookFor~/shop/s-([A-Za-z]+)/
2016/8/9 15:39:04-- SendTohttp://www.xiaomishu.com/shop/s-$1/
2016/8/9 15:39:04-- LookFor~/shop/search-([A-Za-z0-9]+)/
2016/8/9 15:39:04-- SendTohttp://www.xiaomishu.com/shop/search-$1/
2016/8/9 15:39:04-- LookFor~/(.+)\.aspx
2016/8/9 15:39:04-- SendTo~/oops/
2016/8/9 15:39:04--root/WriteSafeHost=False
2016/8/9 15:39:04--node=root/RewriterConfig/Rules
2016/8/9 15:39:04-- LookFor~/Coin
2016/8/9 15:39:04-- SendTo~/Award.aspx
2016/8/9 15:39:04-- LookFor~/snfpp
2016/8/9 15:39:04-- SendTo~/enterprise/snfpp.aspx
2016/8/9 15:39:04-- LookFor~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?
2016/8/9 15:39:04-- SendTo~/qa/QaQuestionShare.aspx?qaid=$1&anid=$3
2016/8/9 15:39:04-- LookFor~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?
2016/8/9 15:39:04-- SendTo~/O2O/ExchangeTable.aspx?OrderId=$1
2016/8/9 15:39:04-- LookFor~/Qa/QaResWeb/(\w{12})/?
2016/8/9 15:39:04-- SendTo~/Qa/QaResWeb.aspx?ResId=$1
2016/8/9 15:39:04-- LookFor~/Qa/qaQuestionDetail/(\d+)/?
2016/8/9 15:39:04-- SendTo~/Qa/QaMyQuestionDetail.aspx?questionId=$1
2016/8/9 15:39:04-- LookFor~/XiaoBao/progress_loadingpercent
2016/8/9 15:39:04-- SendTo~/XiaoBao/progress_loadingpercent.xml
2016/8/9 15:39:04-- LookFor~/(.*/)?([^/]+?)
2016/8/9 15:39:04-- SendTo~/$1$2.aspx
2016/8/9 15:39:04-- LookFor~/(.*/)?([^/]+?).js/?
2016/8/9 15:39:04-- SendTo~/$1$2.js
2016/8/9 15:39:04-- LookFor~/(.*/)?([^/]+?).css/?
2016/8/9 15:39:04-- SendTo~/$1$2.css
2016/8/9 15:46:32--root/IsMobileSearchRedirect=False
2016/8/9 15:46:32--node=root/MigrationConfig/Rules
2016/8/9 15:46:32-- LookFor~/shop/s-([A-Za-z]+)/
2016/8/9 15:46:32-- SendTohttp://www.xiaomishu.com/shop/s-$1/
2016/8/9 15:46:32-- LookFor~/shop/search-([A-Za-z0-9]+)/
2016/8/9 15:46:32-- SendTohttp://www.xiaomishu.com/shop/search-$1/
2016/8/9 15:46:32-- LookFor~/(.+)\.aspx
2016/8/9 15:46:32-- SendTo~/oops/
2016/8/9 15:46:32--root/WriteSafeHost=False
2016/8/9 15:46:32--node=root/RewriterConfig/Rules
2016/8/9 15:46:32-- LookFor~/Coin
2016/8/9 15:46:32-- SendTo~/Award.aspx
2016/8/9 15:46:32-- LookFor~/snfpp
2016/8/9 15:46:32-- SendTo~/enterprise/snfpp.aspx
2016/8/9 15:46:32-- LookFor~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?
2016/8/9 15:46:32-- SendTo~/qa/QaQuestionShare.aspx?qaid=$1&anid=$3
2016/8/9 15:46:32-- LookFor~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?
2016/8/9 15:46:32-- SendTo~/O2O/ExchangeTable.aspx?OrderId=$1
2016/8/9 15:46:32-- LookFor~/Qa/QaResWeb/(\w{12})/?
2016/8/9 15:46:32-- SendTo~/Qa/QaResWeb.aspx?ResId=$1
2016/8/9 15:46:32-- LookFor~/Qa/qaQuestionDetail/(\d+)/?
2016/8/9 15:46:32-- SendTo~/Qa/QaMyQuestionDetail.aspx?questionId=$1
2016/8/9 15:46:32-- LookFor~/XiaoBao/progress_loadingpercent
2016/8/9 15:46:32-- SendTo~/XiaoBao/progress_loadingpercent.xml
2016/8/9 15:46:32-- LookFor~/(.*/)?([^/]+?)
2016/8/9 15:46:32-- SendTo~/$1$2.aspx
2016/8/9 15:46:32-- LookFor~/(.*/)?([^/]+?).js/?
2016/8/9 15:46:32-- SendTo~/$1$2.js
2016/8/9 15:46:32-- LookFor~/(.*/)?([^/]+?).css/?
2016/8/9 15:46:32-- SendTo~/$1$2.css
2016/8/9 16:01:04--root/IsMobileSearchRedirect=False
2016/8/9 16:01:05--node=root/MigrationConfig/Rules
2016/8/9 16:01:05-- LookFor~/shop/s-([A-Za-z]+)/
2016/8/9 16:01:05-- SendTohttp://www.xiaomishu.com/shop/s-$1/
2016/8/9 16:01:05-- LookFor~/shop/search-([A-Za-z0-9]+)/
2016/8/9 16:01:05-- SendTohttp://www.xiaomishu.com/shop/search-$1/
2016/8/9 16:01:05-- LookFor~/(.+)\.aspx
2016/8/9 16:01:05-- SendTo~/oops/
2016/8/9 16:01:05--root/WriteSafeHost=False
2016/8/9 16:01:05--node=root/RewriterConfig/Rules
2016/8/9 16:01:05-- LookFor~/Coin
2016/8/9 16:01:05-- SendTo~/Award.aspx
2016/8/9 16:01:05-- LookFor~/snfpp
2016/8/9 16:01:05-- SendTo~/enterprise/snfpp.aspx
2016/8/9 16:01:05-- LookFor~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?
2016/8/9 16:01:05-- SendTo~/qa/QaQuestionShare.aspx?qaid=$1&anid=$3
2016/8/9 16:01:05-- LookFor~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?
2016/8/9 16:01:05-- SendTo~/O2O/ExchangeTable.aspx?OrderId=$1
2016/8/9 16:01:05-- LookFor~/Qa/QaResWeb/(\w{12})/?
2016/8/9 16:01:05-- SendTo~/Qa/QaResWeb.aspx?ResId=$1
2016/8/9 16:01:05-- LookFor~/Qa/qaQuestionDetail/(\d+)/?
2016/8/9 16:01:05-- SendTo~/Qa/QaMyQuestionDetail.aspx?questionId=$1
2016/8/9 16:01:05-- LookFor~/XiaoBao/progress_loadingpercent
2016/8/9 16:01:05-- SendTo~/XiaoBao/progress_loadingpercent.xml
2016/8/9 16:01:05-- LookFor~/(.*/)?([^/]+?)
2016/8/9 16:01:05-- SendTo~/$1$2.aspx
2016/8/9 16:01:05-- LookFor~/(.*/)?([^/]+?).js/?
2016/8/9 16:01:05-- SendTo~/$1$2.js
2016/8/9 16:01:05-- LookFor~/(.*/)?([^/]+?).css/?
2016/8/9 16:01:05-- SendTo~/$1$2.css
2016/8/9 16:18:09--root/IsMobileSearchRedirect=False
2016/8/9 16:18:09--node=root/MigrationConfig/Rules
2016/8/9 16:18:09-- LookFor~/shop/s-([A-Za-z]+)/
2016/8/9 16:18:09-- SendTohttp://www.xiaomishu.com/shop/s-$1/
2016/8/9 16:18:09-- LookFor~/shop/search-([A-Za-z0-9]+)/
2016/8/9 16:18:09-- SendTohttp://www.xiaomishu.com/shop/search-$1/
2016/8/9 16:18:09-- LookFor~/(.+)\.aspx
2016/8/9 16:18:09-- SendTo~/oops/
2016/8/9 16:18:09--root/WriteSafeHost=False
2016/8/9 16:18:09--node=root/RewriterConfig/Rules
2016/8/9 16:18:09-- LookFor~/Coin
2016/8/9 16:18:09-- SendTo~/Award.aspx
2016/8/9 16:18:10-- LookFor~/snfpp
2016/8/9 16:18:10-- SendTo~/enterprise/snfpp.aspx
2016/8/9 16:18:10-- LookFor~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?
2016/8/9 16:18:10-- SendTo~/qa/QaQuestionShare.aspx?qaid=$1&anid=$3
2016/8/9 16:18:10-- LookFor~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?
2016/8/9 16:18:10-- SendTo~/O2O/ExchangeTable.aspx?OrderId=$1
2016/8/9 16:18:10-- LookFor~/Qa/QaResWeb/(\w{12})/?
2016/8/9 16:18:10-- SendTo~/Qa/QaResWeb.aspx?ResId=$1
2016/8/9 16:18:10-- LookFor~/Qa/qaQuestionDetail/(\d+)/?
2016/8/9 16:18:10-- SendTo~/Qa/QaMyQuestionDetail.aspx?questionId=$1
2016/8/9 16:18:10-- LookFor~/XiaoBao/progress_loadingpercent
2016/8/9 16:18:10-- SendTo~/XiaoBao/progress_loadingpercent.xml
2016/8/9 16:18:10-- LookFor~/(.*/)?([^/]+?)
2016/8/9 16:18:10-- SendTo~/$1$2.aspx
2016/8/9 16:18:10-- LookFor~/(.*/)?([^/]+?).js/?
2016/8/9 16:18:10-- SendTo~/$1$2.js
2016/8/9 16:18:10-- LookFor~/(.*/)?([^/]+?).css/?
2016/8/9 16:18:10-- SendTo~/$1$2.css
2016/8/9 16:20:25--root/IsMobileSearchRedirect=False
2016/8/9 16:20:25--node=root/MigrationConfig/Rules
2016/8/9 16:20:25-- LookFor~/shop/s-([A-Za-z]+)/
2016/8/9 16:20:25-- SendTohttp://www.xiaomishu.com/shop/s-$1/
2016/8/9 16:20:25-- LookFor~/shop/search-([A-Za-z0-9]+)/
2016/8/9 16:20:25-- SendTohttp://www.xiaomishu.com/shop/search-$1/
2016/8/9 16:20:25-- LookFor~/(.+)\.aspx
2016/8/9 16:20:25-- SendTo~/oops/
2016/8/9 16:20:25--root/WriteSafeHost=False
2016/8/9 16:20:25--node=root/RewriterConfig/Rules
2016/8/9 16:20:25-- LookFor~/Coin
2016/8/9 16:20:25-- SendTo~/Award.aspx
2016/8/9 16:20:25-- LookFor~/snfpp
2016/8/9 16:20:25-- SendTo~/enterprise/snfpp.aspx
2016/8/9 16:20:25-- LookFor~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?
2016/8/9 16:20:25-- SendTo~/qa/QaQuestionShare.aspx?qaid=$1&anid=$3
2016/8/9 16:20:25-- LookFor~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?
2016/8/9 16:20:25-- SendTo~/O2O/ExchangeTable.aspx?OrderId=$1
2016/8/9 16:20:25-- LookFor~/Qa/QaResWeb/(\w{12})/?
2016/8/9 16:20:25-- SendTo~/Qa/QaResWeb.aspx?ResId=$1
2016/8/9 16:20:25-- LookFor~/Qa/qaQuestionDetail/(\d+)/?
2016/8/9 16:20:25-- SendTo~/Qa/QaMyQuestionDetail.aspx?questionId=$1
2016/8/9 16:20:25-- LookFor~/XiaoBao/progress_loadingpercent
2016/8/9 16:20:25-- SendTo~/XiaoBao/progress_loadingpercent.xml
2016/8/9 16:20:25-- LookFor~/(.*/)?([^/]+?)
2016/8/9 16:20:25-- SendTo~/$1$2.aspx
2016/8/9 16:20:25-- LookFor~/(.*/)?([^/]+?).js/?
2016/8/9 16:20:25-- SendTo~/$1$2.js
2016/8/9 16:20:25-- LookFor~/(.*/)?([^/]+?).css/?
2016/8/9 16:20:25-- SendTo~/$1$2.css
2016/8/9 16:21:42--root/IsMobileSearchRedirect=False
2016/8/9 16:21:42--node=root/MigrationConfig/Rules
2016/8/9 16:21:42-- LookFor~/shop/s-([A-Za-z]+)/
2016/8/9 16:21:42-- SendTohttp://www.xiaomishu.com/shop/s-$1/
2016/8/9 16:21:42-- LookFor~/shop/search-([A-Za-z0-9]+)/
2016/8/9 16:21:42-- SendTohttp://www.xiaomishu.com/shop/search-$1/
2016/8/9 16:21:42-- LookFor~/(.+)\.aspx
2016/8/9 16:21:42-- SendTo~/oops/
2016/8/9 16:21:42--root/WriteSafeHost=False
2016/8/9 16:21:42--node=root/RewriterConfig/Rules
2016/8/9 16:21:42-- LookFor~/Coin
2016/8/9 16:21:42-- SendTo~/Award.aspx
2016/8/9 16:21:42-- LookFor~/snfpp
2016/8/9 16:21:42-- SendTo~/enterprise/snfpp.aspx
2016/8/9 16:21:42-- LookFor~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?
2016/8/9 16:21:42-- SendTo~/qa/QaQuestionShare.aspx?qaid=$1&anid=$3
2016/8/9 16:21:42-- LookFor~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?
2016/8/9 16:21:42-- SendTo~/O2O/ExchangeTable.aspx?OrderId=$1
2016/8/9 16:21:42-- LookFor~/Qa/QaResWeb/(\w{12})/?
2016/8/9 16:21:42-- SendTo~/Qa/QaResWeb.aspx?ResId=$1
2016/8/9 16:21:42-- LookFor~/Qa/qaQuestionDetail/(\d+)/?
2016/8/9 16:21:42-- SendTo~/Qa/QaMyQuestionDetail.aspx?questionId=$1
2016/8/9 16:21:42-- LookFor~/XiaoBao/progress_loadingpercent
2016/8/9 16:21:42-- SendTo~/XiaoBao/progress_loadingpercent.xml
2016/8/9 16:21:42-- LookFor~/(.*/)?([^/]+?)
2016/8/9 16:21:42-- SendTo~/$1$2.aspx
2016/8/9 16:21:42-- LookFor~/(.*/)?([^/]+?).js/?
2016/8/9 16:21:42-- SendTo~/$1$2.js
2016/8/9 16:21:42-- LookFor~/(.*/)?([^/]+?).css/?
2016/8/9 16:21:42-- SendTo~/$1$2.css
