<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainSiteHost" value="www.dcxms.com"/>
    <add key="ResourceSiteUrl" value="http://15f.78shequ.com"/>
    <!--<add key="ResourceSiteUrl" value="http://s1.95171.cn"/>-->
    
    <add key="UploadSiteUrl" value="http://upload.fg114.com"/>
    <add key="StaticUploadUrl"  value="http://upload.fg114.com"/>
    <add key="WapCookieName_Login" value="fg114"/>
    <add key="WapMainSiteRootHost" value="dcxms.com" />
    <add key="MaxSmsCount" value="2"/>
    <add key="LatestAPPVersion" value="4.2.8" />
    <!--今日任务是否显示App评论-->
    <add key="IsShowAPPComment" value="0"/>
    <add key="TableTypes" value="0_大厅,1_卡座,2_半包,3_透明包房,4_包房,5_露天,6_可拼桌,7_打通包房,8_一包多桌,9_自留,10_吧台,11_合用包房" />
    <add key="VirtualDirectory" value=""/>
    <!---Sanofi最新动态-->
    <add key="Sanofi_ReportNews" value="Sanofi最新动态............."/>

    <add key="AppId" value="wxbf7993f26d5c5bfe"/>
    <add key="secretkey" value="0c531d02193ad55dda48498ea78ce60a"/>
    
  </appSettings>
</configuration>
