<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" requirePermission="false" />
    <section name="wcfServices" type="XMS.Core.WCF.Client.Configuration.ServiceReferencesSection,  XMS.Core" requirePermission="false" />
  </configSections>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, api_key, Authorization" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <appSettings>
    <add key="AppName" value="XMS.Web.AppWapXiaoBao" />
    <add key="AppVersion" value="1.0" />
    <add key="FGAPIUserName" value="fg114" />
    <add key="FGAPIPassWord" value="000000" />
    <add key="OrderBusinessAPIServiceUrl" value="http://222.66.142.229/OrderBusinessService/BusinessAPI.asmx" />
    <add key="OrderServiceUrl" value="http://222.66.142.229/OrderManageService/service.asmx" />
    
  </appSettings>
  <system.web>
    <httpRuntime  requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;" />
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
    </httpModules>
    <customErrors mode="Off" defaultRedirect="/oops.aspx">
      <error statusCode="404" redirect="/oops.aspx"></error>
    </customErrors>
  </system.web>
  <castle>
    <include uri="assembly://XMS.Core/container.core.config" />
  </castle>
  <wcfServices>
    <add serviceName="LogCenterService" serviceType="XMS.Core.Logging.ServiceModel.ILogCenterService, XMS.Core" />
    <add serviceName="CoffeeService1" serviceType="XMS.Inner.Coffee.Service.ICoffeeService,WCF.Coffee.Proxy"/>
  </wcfServices>
</configuration>
