<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainSiteHost" value="www.dcxms.com"/>
    <add key="ResourceSiteUrl" value="http://15f.78shequ.com"/>
    <add key="UploadSiteUrl" value="http://192.168.1.30:9114"/>
    <add key="StaticUploadUrl" value="http://192.168.1.30:9114/" />
  </appSettings>
</configuration>
