<?xml version="1.0"?>
<CityConst>
  <CityInfo Id="200000" Tel="18149708649" GiftSelfAddress="浦东新区东方路135号海东大楼2楼前台" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="100000" Tel="18149708649" GiftSelfAddress="朝阳区建外大街建华南路17号现代柏联大厦515前台" ShowGiftSelf="false" ShowGiftExp="true" />
  <CityInfo Id="266000" Tel="0532-88885705" GiftSelfAddress="宁夏路288号3-603" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="360000" Tel="0592-5869953,0592-5837251" GiftSelfAddress="思明区厦禾路1032-1034号中外运大厦B幢14楼" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="430000" Tel="027-59002169" GiftSelfAddress="建设大道518号招银大厦18楼1802室" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="518000" Tel="0755-25981699-29059" GiftSelfAddress="罗湖区和平路3001号鸿隆世纪广场A座20楼" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="510000" Tel="020-28878005" GiftSelfAddress="体育东路116-118号财富广场西塔24楼" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="310000" Tel="0571-56196000-26070" GiftSelfAddress="庆春东路68号汽轮大厦12F" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="210000" Tel="025-66662266-6660" GiftSelfAddress="白下区汉中路169号金丝利商务楼13楼1301-1302室" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="710000" Tel="029-88356552" GiftSelfAddress="高新三路8号橙仕空间0227室" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="110000" Tel="024-22522211-125" GiftSelfAddress="高新三路8号橙仕空间0227室" ShowGiftSelf="true" ShowGiftExp="true" />
  <CityInfo Id="610000" Tel="028-86707467" GiftSelfAddress="锦江区锦兴路1号雕墅大厦3111室" ShowGiftSelf="true" ShowGiftExp="true" />
</CityConst>