<?xml version="1.0"?>
<root>
  <RewriterConfig>
    <Rules>
      <!--兼容老版本的秘币兑换-->
      <RewriterRule>
        <LookFor>~/Coin</LookFor>
        <SendTo>~/Award.aspx</SendTo>
      </RewriterRule>
      <!--企业Wap页开始-->
      <RewriterRule>
        <LookFor>~/snfpp</LookFor>
        <SendTo>~/enterprise/snfpp.aspx</SendTo>
      </RewriterRule>
      <!--企业Wap页结束-->
      <!--十万个吃什么开始-->
      <RewriterRule>
        <LookFor>~/qa/QaQuestionShare/(\d+)/?(an/(\d+)/?)?</LookFor>
        <SendTo>~/qa/QaQuestionShare.aspx?qaid=$1&amp;anid=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/PayWeiXinNotify/(\w{32})/?(\d+)/?</LookFor>
        <SendTo>~/PayWeiXinNotify.aspx?OrderUUID=$1&amp;PayType=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/O2O/ExchangeTable/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/?</LookFor>
        <SendTo>~/O2O/ExchangeTable.aspx?OrderId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Qa/QaResWeb/(\w{12})/?</LookFor>
        <SendTo>~/Qa/QaResWeb.aspx?ResId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Qa/qaQuestionDetail/(\d+)/?</LookFor>
        <SendTo>~/Qa/QaMyQuestionDetail.aspx?questionId=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/XiaoBao/progress_loadingpercent</LookFor>
        <SendTo>~/XiaoBao/progress_loadingpercent.xml</SendTo>
      </RewriterRule>

      <!--十万个吃什么结束-->
      <RewriterRule>
        <LookFor>~/(.*/)?([^/]+?)</LookFor>
        <SendTo>~/$1$2.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.*/)?([^/]+?).js/?</LookFor>
        <SendTo>~/$1$2.js</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.*/)?([^/]+?).css/?</LookFor>
        <SendTo>~/$1$2.css</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <MigrationConfig>
    <Rules>
      <MigrationRule>
        <LookFor>~/shop/s-([A-Za-z]+)/</LookFor>
        <SendTo>http://www.xiaomishu.com/shop/s-$1/</SendTo>
      </MigrationRule>
      <MigrationRule>
        <LookFor>~/shop/search-([A-Za-z0-9]+)/</LookFor>
        <SendTo>http://www.xiaomishu.com/shop/search-$1/</SendTo>
      </MigrationRule>
      <MigrationRule>
        <LookFor>~/(.+)\.aspx</LookFor>
        <SendTo>~/oops/</SendTo>
      </MigrationRule>
    </Rules>
  </MigrationConfig>
  <SearchEngineRobot>
    <Robot>Googlebot</Robot>
    <Robot>bingbot</Robot>
    <Robot>Baiduspider</Robot>
    <Robot>Sogou</Robot>
    <Robot>Sosospider</Robot>
    <Robot>YoudaoBot</Robot>
  </SearchEngineRobot>
  <WriteSafeHost>false</WriteSafeHost>
  <CookieDayLength>30</CookieDayLength>
  <CrntHost>dcxms.com</CrntHost>
  <IsForceHostCheck>false</IsForceHostCheck>
  <IsXiaomishuSite>false</IsXiaomishuSite>
</root>